<h2>Dane pojazdu:</h2>
<form action="/dane" method="get">
    <table>
        <tr>
            <td>ubezpieczenia: </td>
            <td><input type="checkbox" name="ub" id="ub"></td>
        </tr>
        <tr>
            <td>benzyna: </td>
            <td><input type="checkbox" name="be" id="be"></td>
        </tr>
        <tr>
            <td>uszkodzony: </td>
            <td><input type="checkbox" name="us" id="us"></td>
        </tr>
        <tr>
            <td>napęd 4x4</td>
            <td><input type="checkbox" name="na" id="na"></td>
        </tr>
    </table>
    <input type="submit" value="DODAJ DO BAZY">
</form>